<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="host" value="ec2-35-167-252-127.us-west-2.compute.amazonaws.com" />
      <add key="user" value="test" />
      <add key="password" value="test_password" />
    </appSettings>
</configuration>